@using Web.Services
@inject AuthenticationService authenticationService

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (string.IsNullOrWhiteSpace(_token))
        {
            <p>NO TOKEN</p>
        }
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private string? _token;

    protected override async Task OnInitializedAsync()
    {
        _token = await authenticationService.GetTokenAsync();
    }
}